[submodule "luna/thirdParty/spdlog"]
	path = luna/thirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "luna/thirdParty/GLFW"]
	path = luna/thirdParty/GLFW
	url = https://github.com/glfw/glfw
[submodule "luna/thirdParty/stb"]
	path = luna/thirdParty/stb
	url = https://github.com/nothings/stb
[submodule "luna/thirdParty/glm"]
	path = luna/thirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "luna/thirdParty/VMA"]
	path = luna/thirdParty/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "luna/thirdParty/VkBootstrap"]
	path = luna/thirdParty/VkBootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "luna/thirdParty/imGui"]
	path = luna/thirdParty/imGui
	url = https://github.com/ocornut/imgui
[submodule "luna/thirdparty/stb"]
	path = luna/thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "luna/thirdParty/yaml-cpp"]
	path = luna/thirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "luna/thirdParty/imguizmo"]
	path = luna/thirdParty/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "luna/thirdparty/zlib"]
	path = luna/thirdparty/zlib
	url = https://github.com/madler/zlib
